# Игнорировать каталог tmp и все файлы, хранящиеся в нём
tmp/

# Игнорировать файлы Thumbs.db
Thumbs.db

# Игнорировать файлы .DS_Store
.DS_Store

# Игнорировать файлы, заканчивающиеся на суффикс _old
*_old

# Игнорировать файлы, заканчивающиеся на суффикс _backup
*_backup